// fonts
$main_font: 'Montserrat', sans-serif;

// colors
/* backgrounds colors */
$primary_color: #f3e9f1;
$body_color: #9a6bff41;
$section_color: #9A6BFF;
$hover_color_section: #9A6BFF;
$hover_color_link: #4F25A8;

// fonts colors
$main_color: #454545;

// box shadow
$box_shadow: 0 0 20px #f3f3f3;

$landscape: (orientation: landscape);